
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
har_and_cookies/.nodriver_is_open
.blackboxrules
har_and_cookies/.nodriver_is_open
har_and_cookies/
/har_and_cookies
.vs/
.vscode/
__pycache__/